.buttonBack{
    background: linear-gradient(90deg, #CA8661 0%, #CDBFB8 100%);
    border-radius: 12px;
        
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;

    color: #FFFFFF;

    display: block;
    border: none;
    outline: none;
    cursor: pointer;
}

.buttonAlterBack {
    background: #FFFFFF;
    border: 2px solid #CA8661;
    box-sizing: border-box;
    border-radius: 12px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;

    color: #CA8661;

    display: block;
    outline: none;
    cursor: pointer;
}